In [34]:
import pandas as pd

In [35]:
# Concat all .csv files
for i in range(1,7):
    df_c = pd.read_csv(f'dataset/df{i}.csv', index_col=0)
    try:
        df = pd.concat([df, df_c]).reset_index(drop=True)
    except:
        df = pd.concat([df_c])

In [36]:
# Define status ('rent' or 'cell')
df['status'] = [i.split(' ')[-1] for i in df.name]
df.drop('name', axis=1, inplace=True)

In [37]:
# Separate only Tashkent city (this .csv file includes all regions of Uzbekistan)
bool_adress = [i.split(',')[0] == 'город Ташкент' for i in df.adress]
df = df[bool_adress]

In [38]:
# Remove all ther informations from adress columns it could be helpfull
# if we can use this all informations but it is quite inpossible
df['adress'] = [i.split(',')[1] for i in df.adress]

In [39]:
# Filling missed values
df.fillna(' ', inplace=True)

In [40]:
# Split 'size' columns into two part
df_size = pd.DataFrame([i.split(' м²')[0:2] for i in df['size']],
                       columns=['size', 'measure'],
                       index= df.index)

df['size'] = df_size['size']
df['measure'] = df_size['measure']

In [41]:
# Separate price
df['price'] = [i.split(' у.е.')[0] for i in df.price]

In [42]:
# Last df
df = df[['adress', 'rooms', 'size', 'measure', 'level', 'repair', 'wall', 'price', 'status']]
df.reset_index(drop = True, inplace=True)
df.head()

,adress,rooms,size,measure,level,repair,wall,price,status
0,Учтепинский район,2,40,,1/5,Средний,Кирпичный,300,продажу
1,Чиланзарский район,2,50,,1/4,Евроремонт,Панельный,57 500,продажу
2,Сергелийский район,3,83,,3/9,Авторский проект,Монолитный,500,аренду
3,Яшнободский район,1,40,,3/9,Евроремонт,Панельный,450,аренду
4,Мирабадский район,3,93,,7/9,Евроремонт,Панельный,1 000,аренду

In [43]:
# Seperating Rent category
df_rent = df[df['status'] == 'аренду']

# Save it to .csv file
df_rent.to_csv('rent_after_first_preprocessing.csv', index= False)