In [131]:
import pandas as pd

In [132]:
df_rent = pd.read_csv('rent_after_first_preprocessing.csv')
df_rent

,adress,rooms,size,measure,level,repair,wall,price,status
0,Сергелийский район,3,83,NaN,3/9,Авторский проект,Монолитный,500,аренду
1,Яшнободский район,1,40,NaN,3/9,Евроремонт,Панельный,450,аренду
2,Мирабадский район,3,93,NaN,7/9,Евроремонт,Панельный,1 000,аренду
3,Мирабадский район,2,60,NaN,3/4,Авторский проект,Кирпичный,1 200,аренду
4,Шайхантахурский район,2,50,NaN,2/4,Евроремонт,Кирпичный,700,аренду
...,...,...,...,...,...,...,...,...,...
6427,Юнусабадский район,2,51,NaN,2/9,Евроремонт,Кирпичный,1 200,аренду
6428,Яккасарайский район,3,110,NaN,6/8,Евроремонт,Кирпичный,1 200,аренду
6429,Мирабадский район,2,65,NaN,3/9,Евроремонт,Парковочное место,700,аренду
6430,Яккасарайский район,2,65,NaN,1/6,Евроремонт,Кирпичный,1 000,аренду
6431,Мирабадский район,2,50,NaN,2/12,Евроремонт,Панельный,800,аренду

#### 'rooms' column

In [133]:
# Loop for take correct values from rooms column
l_rooms = []
for i in df_rent.rooms:
    if 'м²' in i:
        l_rooms.append('-1')
    else:
        l_rooms.append(i)

In [134]:
# Set values
df_rent.loc[:, 'rooms'] = np.array(l_rooms)

In [135]:
# Drop unusual values
l = ['1', '2', '3', '4', '5', '6+']

l_sort = []
for i in df_rent.rooms:
    if i not in l:
        l_sort.append('-1')
    else:
        l_sort.append(i)

In [136]:
# Set values
df_rent.loc[:, 'rooms'] = np.array(l_sort)

In [137]:
# Replace 6+ into 6
df_rent.rooms = df_rent.rooms.replace('6+', '6')
df_rent.rooms = df_rent.rooms.astype('int16')

In [138]:
ind = list(df_rent[df_rent['rooms'] == -1].index)
df_rent.drop(ind, inplace=True)

#### 'size' column

In [139]:
# Separate all digit values
cat = [i.isdigit() for i in df_rent['size']]
df_rent = df_rent[cat]

In [140]:
# Change dtype of column
df_rent['size'] = df_rent['size'].astype('float')

C:\Users\qiziq\AppData\Local\Temp\ipykernel_6272\2667559522.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rent['size'] = df_rent['size'].astype('float')

In [141]:
# This column not necessary
df_rent.drop('measure', axis=1, inplace=True)

C:\Users\qiziq\AppData\Local\Temp\ipykernel_6272\1731121593.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rent.drop('measure', axis=1, inplace=True)

#### 'level' column

In [142]:
# Separate all str values
col = [i.isalpha() for i in df_rent['level']]
indx = list(df_rent[col].index)

df_rent.drop(indx, inplace=True)

C:\Users\qiziq\AppData\Local\Temp\ipykernel_6272\3678127607.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rent.drop(indx, inplace=True)

In [143]:
# Seperated level column into two column
df_floor = pd.DataFrame([i.split('/') for i in df_rent['level']],
                        columns= ['floor', 'lvl'],
                        index= df_rent.index)

df_rent['floor'] = df_floor['floor']
df_rent['level'] = df_floor['lvl']

C:\Users\qiziq\AppData\Local\Temp\ipykernel_6272\132905948.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rent['floor'] = df_floor['floor']
C:\Users\qiziq\AppData\Local\Temp\ipykernel_6272\132905948.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rent['level'] = df_floor['lvl']

In [144]:
df_rent = df_rent[['adress', 'rooms', 'size', 'floor', 'level', 'repair', 'wall', 'price', 'status']]

#### 'repair' column

In [145]:
# Unnecessary values dropped
repair = ['Евроремонт', 'Черновая отделка', 'Средний', 'Авторский проект', ' ']

rows = [i in repair for i in df_rent.repair]
df_rent = df_rent[rows]

#### 'wall' column

In [146]:
# Unnecessary values dropped
wall = ['Кирпичный', 'Панельный', 'Монолитный', ' ']

rows = [i in wall for i in df_rent.wall]
df_rent = df_rent[rows]

#### 'price' column

In [147]:
# Change dtype into 'float'
df_rent['price'] = df_rent['price'].str.replace(' ', '').astype(float)

In [148]:
# Unusual values dropped
df_rent = df_rent[df_rent.price < 10000]

In [149]:
df_rent.reset_index(drop=True)

,adress,rooms,size,floor,level,repair,wall,price,status
0,Сергелийский район,3,83.0,3,9,Авторский проект,Монолитный,500.0,аренду
1,Яшнободский район,1,40.0,3,9,Евроремонт,Панельный,450.0,аренду
2,Мирабадский район,3,93.0,7,9,Евроремонт,Панельный,1000.0,аренду
3,Мирабадский район,2,60.0,3,4,Авторский проект,Кирпичный,1200.0,аренду
4,Шайхантахурский район,2,50.0,2,4,Евроремонт,Кирпичный,700.0,аренду
...,...,...,...,...,...,...,...,...,...
4740,Мирзо-Улугбекский район,1,35.0,2,4,Евроремонт,Кирпичный,500.0,аренду
4741,Юнусабадский район,2,51.0,2,9,Евроремонт,Кирпичный,1200.0,аренду
4742,Яккасарайский район,3,110.0,6,8,Евроремонт,Кирпичный,1200.0,аренду
4743,Яккасарайский район,2,65.0,1,6,Евроремонт,Кирпичный,1000.0,аренду
4744,Мирабадский район,2,50.0,2,12,Евроремонт,Панельный,800.0,аренду

#### Save final file

In [150]:
df_rent.to_csv('rent_for_analys.csv', index= False,
               columns=[
                   'adress', 'rooms', 'size', 'floor', 'level', 'repair', 'wall', 'price'
               ])